<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"bottom":"1rem"}}},"className":"is-style-default","layout":{"type":"constrained"}} -->
<section class="wp-block-group is-style-default" style="margin-bottom:1rem"><!-- wp:brtled/product-filter {"align":"wide"} /--></section>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"18%"} -->
<div class="wp-block-column" style="flex-basis:18%"><!-- wp:brtled/taxonomy-nav /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:brtled/term-query {"query":{"parent":null,"offset":0,"number":0,"taxonomy":"category","hide_empty":false,"orderby":"none","order":"asc","inherit":true,"expand":true},"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"className":"is-style-default"} -->
<!-- wp:brtled/term-title {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"1rem","left":"0"}}},"fontSize":"medium"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":100,"pages":0,"offset":0,"postType":"product","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":false,"inherit":false,"useContextTaxonomy":true},"displayLayout":{"type":"flex","columns":4},"namespace":"brtled/taxonomy-post-query","align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","className":"is-style-product-grid-item"} -->
<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-title {"isLink":true} /-->

<!-- wp:brtled/product-meta /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"添加当查询返回无结果时所要显示的文本或区块。"} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->
<!-- /wp:brtled/term-query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->